<!DOCTYPE html>
<html ng-app="MarketPlace">
<head>
  <title><%= title yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="navbar navbar-default navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" data-target="#navbar-ex-collapse" data-toggle="collapse" type="button"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="<%= root_path%>"class="navbar-brand"><span>MakerPlace</span></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-ex-collapse">
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
                <li>
                  <%= active_link_to 'Publish new lesson', new_lesson_path %>
                </li>
                <li>
                  <%= active_link_to 'Sign Out', destroy_user_session_path, method: :delete %>
                </li>
            <% else %>
                <li>
                  <%= active_link_to 'Sign Up', new_user_registration_path %>
                </li>
                <li>
                  <%= active_link_to 'Sign In', new_user_session_path %>
                </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <section>
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-md-offset-4">
              <% if notice %>
                <p class="notice alert alert-success"><%= notice %></p>
              <%end%>
              <% if alert %>
                <p class="alert alert-warning"><%= alert %></p>
              <%end%>
            </div>
          </div>

            <%= yield %>
        </div>
    </section>
</body>
</html>
